body{
    font-family: "poppins",sans-serif;
    background: #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
     box-shadow: 0 4px 12px rgba(0,0,0,0.1) ;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #2ecc71;
}