*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "poppins",sans-serif;
    background: linear-gradient(to bottom right,#89f7fe,#66a6ff);
    text-align: center;
    padding: 50px 0;
}

.page-title{
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0,0,0,3);
}

.card{
    display: inline-block;
    background-color: #fff8dc;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: left;
    vertical-align: top;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card h2{
    color:#2980b9;
    margin-bottom: 10px;
}

.card p{
    color: #333;
    line-height: 1.5;
    font-size: 16px;
}